@font-face {
    font-family: 'Avenir';
    src: url('/AvenirLight.ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirRegular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirHeavy.ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('/AvenirBlack.ttf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

html, body {
    font-family: Avenir, Inter, Nunito Sans, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    /*overflow: hidden;*/
}

main {
    background-color: white;
    /*margin-top: 50vh;*/
    padding: 10px;
    position: relative;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

:root {
    --color-primary: rgb(25, 91, 255);
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

html, body {
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}