/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.banner h1 {
    font-size: 5rem;
    /*margin-top: 22vh;*/
    color: white;
    font-weight: bold;
    text-align: center;
}

.banner h2 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
}

.banner {
    height: 100vh;
    padding-top: 32vh;
    background: rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 3rem;
    font-weight: bold;
    /*color: rgb(25, 91, 255);*/
}

.menu {
    font-size: 20px;
    font-weight: bold;
}


.why-us .vs-card__text {
    display: none;
}

.contact .vs-card, .a-card {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 20px 0px;
    cursor: pointer;
    max-width: none;
}

.a-card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 0px;
    transform: translate(0, 5px);
        -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
